body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {
    background-image: url("assets/Flappy Bird/background.png");
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}